[Unit]
Description=Skywars browser game
After=network.target

[Service]
WorkingDirectory=/home/skywars
ExecStart=docker compose up -d
Restart=always

[Install]
WantedBy=multi-user.target